.background {
    background-image: url(img/rana-sawalha-364253-unsplash@1X.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}


.container {
    width: 100%;
    margin: 0 auto;
}

.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.4);
    height: 56px;
}

.header_section {
    display: flex;
    align-items: center;
}

.header-items {
    padding: 10px 15px;
    margin-left: 5px;
}

.header-text-main {
    font-size: 20px;
    font-weight: bold;
    font-family: Courier, Verdana, sans-serif;
    color: white;
    padding: 22px 100px;
}

.header-text {
    text-decoration: none;
}



.sprite {
    background-image: url(img/spritesheet2.png);
    background-repeat: no-repeat;
    display: block;
    padding-right: 28px;
}

.sprite-ic_caledar_1X {
    width: 19px;
    height: 19px;
    background-position: -28px -28px;
}

.sprite-ic_forum_1X {
    width: 28px;
    height: 20px;
    background-position: -103px -28px;
}

.sprite-ic_journey_1X {
    width: 20px;
    height: 20px;
    background-position: -187px -28px;
}


.line-img {
    width: 1px;
    height: 19px;
    color: #cccccc;
    padding: 0 24px;

}
.text-header-right {
    color: white;
    font-size: 14px;
    padding: 22px 35px;
}

.text-green {
    color: #3cb878;
    text-decoration: none;
}


.header-text-main:hover {
    color: #3cb878;
}

.text-green:hover {
    text-decoration: underline;
}

.sprite:hover {
    background-image: url(img/spritesheethover.png);
}

.reg-form {
    width: 444px;
    height: 584px;
    margin: 65px auto;
    background-color: white;
    border-radius: 2%;
    position: relative;
}


.table-reg {
    display: flex;
    flex-direction: column;
    padding-top: 168px;
}


.input-menu1 {
    width: 314px;
    height: 46px;
    margin: 9px auto;
    display: flex;
    justify-content: center;
    font-size: 14px;
    border-color: #0000000a;
    padding-left: 14px;
}

.input-menu1:hover {
    box-shadow: 3px 4px 9px 0 rgba(16, 16, 16, 0.18);
}

.line-or {
    padding-top: 15px;
    padding-bottom: 10px;
}

.text-or {
    overflow: hidden;
    position: relative;
    margin: 0;
    text-align: center;
    white-space: nowrap;
}
.text-or:before,
.text-or:after {
    content: '';
    display: inline-block;
    position: relative;
    top: -1px;
    width: 33%;
    height: 1px;
    vertical-align: middle;
    background: #cccccc;
}
.text-or:before {
    left: -10px;
    margin-left: -50%;
}
.text-or:after {
    left: 10px;
    margin-right: -50%;
}


.sign-up-log-in-green-block {
    display: flex;
    flex-direction: row;
    padding-top: 29px;
    position: relative;
}

.sign-up:before {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    margin-right: 5px;
    position: absolute;
    left: -60px;
    background-color: #3cb878;

}

.sign-up {
    position: relative;
    left: 60px;
    font-size: 20px;
    font-family: Courier, Verdana, sans-serif;
    color: black;
}

.logIn {
    position: absolute;
    right: 59px;
    font-size: 14px;
    color: green;
    font-family: Courier, Verdana, sans-serif;
}


.logIn:hover {
    text-decoration: underline;
}

.face-google {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.facebook {
    width: 157px;
    height: 46px;
    background-color: #305db8;
    margin-top: 15px;
    margin-right: 8px;
    color: white;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.google {
    width: 157px;
    height: 46px;
    background-color: #df4a32;
    margin-top: 15px;
    color: white;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.google:hover {
    background-color: #c3412c;
}

.facebook:hover {
    background-color: #264b96;
}

.google-fb-link {
    text-decoration: none;
}

.letter-fg {
    color: white;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
}

.line-after-g {
    width: 1px;
    height: 28px;
    color: brown;
}

.checkbox-item {
    display: flex;
    justify-content: flex-start;
    padding: 15px 54px;
    font-size: 14px;
}

.terms-conditions {
    color: #56c18a;
    text-decoration: none;
}

.terms-conditions:hover {
    text-decoration: underline;
}



.submit {
    width: 330px;
    height: 50px;
    background-color: #3cb878;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-family: Courier, Verdana, sans-serif;
    color: white;
    border: 1px;
    border-radius: 3px;
}

.submit:hover {
    background-color: #329a65;
}